@media (min-width: 360px) and (min-height: 720px) {
  h1 {
    margin: 10px;
    padding: 10px;
    border: 20px;
    box-sizing: border-box;
    }
    .navbar-brand {
        width: 100vw;
        box-sizing: border-box ;
        display: inline;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: stretch;
    }

    a.btn {
      background-color: #f0f5fa;
      color: #f0f5fa;
    }

    a.btn.active {
      background-color: darkgrey;
    }

    .btn-primary {
      background-color: #c6d2cf !important;
      border-color: grey !important;
      margin-left: 30px;
      margin-right: 5px;
    }

  
  p {
      background: rgba(0, 0, 0, .4);
      margin: 0.1px;
      padding: 10px;
      text-align: justify;
      text-shadow: 2px 2px 4px black;
      color: whitesmoke;
  }

}


@media (max-width: 1366px) and (max-height: 768px) {
    body {
        background-color: #c6d2cf !important;
    }
    .navbar-brand {
        width: 100vw;
    }
    a.navbar-brand {
      display: inline-flex;
      flex-direction: row;
      justify-content: space-evenly;
  }
  .navbar {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: flex-start;
    margin: 50px;
}
}


@media (max-width: 1920px) and (max-height: 1080px) {
  body {
      background-color: #c6d2cf !important;
  }
  .navbar-brand {
      width: 100vw;
  }
  a.navbar-brand {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.navbar {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: flex-start;
  margin: 50px;
}
}